*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background: radial-gradient(circle at 20% 30%, #1e40af, transparent 60%),
              radial-gradient(circle at 80% 70%, #0ea5e9, transparent 60%),
              #0f172a;
  background-repeat: initial;
  color: white;
  font-family: 'Inter';
}

body::-webkit-scrollbar {
        display: none; 
    }